{% extends 'base.html.twig' %}
{% block title %}
	Change Requests
{% endblock %}
{% block body %}
	<link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600">
	<link rel="stylesheet" href="{{ app.request.getBaseURL() }}/assets/changeRequest.css">
	<body>
		<header>
			<div class="container">
				<h1 class="title">Your Requests</h1>
				<form action="create" method="GET">
					<button type="submit">New Request</button>
					<a href="{{ app.request.getBaseURL() }}/dashboard">Volver</a>
				</form>
			</div>
		</header>
		{% for item in changeRequestList %}

			<table>
				<tr>
					<form action="state" name="requestChange" method="GET">
						<th>
							{{item.getId()}}
						</th>
						<th>
							{{item.getUser().getName()}}
						</th>
						<th>
							{{item.getPackage().getName()}}
						</th>
						<th>
							{{item.getDate().format('d/m/y')}}
						</th>
						<th class="{{item.getState()?"th":"th2"}}">
							{{item.getState()?"pendiente":"resuelta"}}
						</th>
					</form>
				</tr>
			</table>
		{% endfor %}
	</body>
{% endblock %}
