{% extends 'base.html.twig' %}
{% block body %}
	<h1>Your Requests</h1>

    <style>
        .th{
            background-color: red;
        }
        .th2{
            background-color: green;
        }
    </style>

	{% for item in changeRequestList %}

		<table style="width:100%">
			<tr>
				<form action="state" name="requestChange" method="GET">
					<th>
						{{item.getId()}}
					</th>
					<th>
						{{item.getUser().getName()}}
					</th>
					<th>
						{{item.getDate().format('d/m/y')}}
					</th>
					<th class="{{item.getState()?"th":"th2"}}">
						{{item.getState()?"pendiente":"resuelta"}}
					</th>
				</form>
			</tr>
		</table>
	{% endfor %}
    <form action="" method="GET">
        <button type="submit">New Request</button>
    </form>

{% endblock %}
