{% extends 'base.html.twig' %}
{% block title %}
	Change Requests
{% endblock %}
{% block body %}
	<link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600">
	<link rel="stylesheet" href="{{ app.request.getBaseURL() }}/assets/changeRequest.css">
	<body>
		<header>
			<div class="container">
				<h1 class="title">Requests List</h1>
			</div>
		</header>
		{% for item in changeRequestList %}

			<table>
				<tr>
					<form action="state" name="requestChange" method="GET">
						<th>
							{{item.getId()}}
						</th>
						<th>
							{{item.getUser().getName()}}
						</th>
						<th>
							{{item.getPackage().getName()}}
						</th>
						<th>
							{{item.getDate().format('d/m/y')}}
						</th>
						<th>
                            <input type="hidden" name="userId" value="{{item.getUser().getId()}}">
                            <input type="hidden" name="requestId" value="{{item.getId()}}">
							<button id="{{item.getId()}}" type="submit" class="{{item.getState()?"button":"button2"}}">
								{{item.getState()?"pendiente":"resuelta"}}
							</button>
						</th>
					</form>
				</tr>
			</table>
		{% endfor %}
	</body>
{% endblock %}