{% extends 'base.html.twig' %}

{% block title %}Dashboard Admin
{% endblock %}

{% block body %}
	<header>
		<div class="container">
			<h1 class="webName">Cable Unet</h1>
			<nav>
				<ul>
					<li><a href="{{ app.request.getBaseURL() }}/dashboard">Home</a></li>
					<li><a href="{{ app.request.getBaseURL() }}/change/request/">Solicitud de cambio</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<section>
		<h1>Welcome Admin
			{{sessionName}}</h1>
		<h2>
			<a href="{{ app.request.getBaseURL() }}/program">Create Program</a>
		</h2>
		<h2>
			<a href="{{ app.request.getBaseURL() }}/chanel">Create Channel</a>
		</h2>
		<h2>
			<a href="{{ app.request.getBaseURL() }}/cable">Create cable service</a>
		</h2>
		<h2>
			<a href="{{ app.request.getBaseURL() }}/internet">Create internet service</a>
		</h2>
		<h2>
			<a href="{{ app.request.getBaseURL() }}/telephony">Create telephony service</a>
		</h2>
		<h2>
			<a href="{{ app.request.getBaseURL() }}/package">Create package</a>
		</h2>
		<h2>
			<a href="{{ app.request.getBaseURL() }}/change/request/">tickets list</a>
		</h2>
	</section>

	<link rel="stylesheet" href="{{ app.request.getBaseURL() }}/assets/adminDashboard.css">
{% endblock %}
